In [10]:
'''
Q.1 Write a Python program to convert a tuple to a dictionary.
'''
a=(('a',1), ('b',2))
print(dict(a))

{'a': 1, 'b': 2}

In [40]:
'''
Q.2 Accept number from user and calculate the sum of all number between 1 and that given number.
e.g. number=10 
Sum=55
'''
n = int(input("Enter any number: "))
sum = 0

for i in range(1, n+1):
    sum+=i
print(sum)

55

In [27]:
'''
Q.3  Print the following pattern using for loop
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
'''
row = 5
for i in range(0, row+1):
    for j in range(row-i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [29]:
'''
Q.4 Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]
'''
list1 = [10, 20, 30, 40, 50]
for i in list1[::-1]:
    print(i, end=' ')

50 40 30 20 10

In [36]:
'''
Q.5 Python program to display all the prime numbers within a given range
'''
n = int(input('Enter any number: '))

for i in range(0,n + 1):  
   if i > 1:  
       for j in range(2,i):  
           if (i % j) == 0:  
               break  
       else:  
           print(i)

2
3
5